<div ng-class="{'border-active':time}" type="text" ng-click="time=true;$event.stopPropagation()">
    <span ng-show="timeStart && timeEnd">{{timeStart.toTime()}} ~ {{timeEnd.toTime()}}</span>
    <span class="placeholder" ng-show="!(timeStart && timeEnd)">{{placeholder}}</span>
</div>
<div class="timer" ng-show="time && modRight" ng-click="$event.stopPropagation()">
    <slider format="toTime" floor="{{floor}}" ceiling="{{ceiling}}" ng-model-low="timeStart" step="{{step}}" ng-model-high="timeEnd"></slider>
</div>