<div class="container">
    <div class="nav-block"></div>

    <div class="row">
        <div class="col-md-8">

            <div class="panel-body contents">
                <div ng-show="back!=''" class="padder">
                    <span back><i class="fa fa-chevron-left"></i> 뒤로가기</span>
                </div>

                <div class="header padder">
                    <h3 ng-bind-html="article.head"></h3>

                    <div class="label label-info" ng-repeat="tag in article.tags">#{{tag}}</div>

                    <div class="icon-box">
                        <span class="right-space"><i class="fa fa-eye"></i> {{article.hits||0}}</span>
                        <span class="right-space"><article-likes article="article"></article-likes></span>
                        <span ui-sref="{scroll: 'recommends'}"><i
                                class="fa fa-comment-o"></i> {{article.reply||0}}</span>
                    </div>
                </div>

                <div class="header none-top-border description padder">
                    <span ng-bind-html="article.body"></span>
                </div>

                <div class="body images padder none-top-border">
                       <span class="input-label" ng-click="expand = !expand" ng-init="expand=true">
                            Photos
                            <span ng-show="!expand">[Thumbnail]</span>
                            <span ng-show="expand">[Expand]</span>
                        </span>

                    <div class="photos center">
                        <div ng-class="{'thumb':!expand}" class="photo" ng-repeat="photo in article.photos"
                             ng-click="selectPhoto(photo)">
                            <img ng-src="{{'/uploads/' + photo}}">
                        </div>

                    </div>

                </div>

                <div class="header padder none-top-border"
                     ng-show="article.selectedServices && article.selectedServices.length>0">
                    <span class="input-label">Services</span>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td colspan="4">적용 서비스 ({{article.selectedServices.length}})</td>
                        </tr>
                        </thead>


                        <tbody>
                        <tr ng-repeat="service in article.selectedServices">
                            <td></td>
                            <td>{{service.name}}</td>
                            <td>{{service.duration.toDuration()}}</td>
                            <td class="number"><i class="fa fa-krw"></i>{{service.price.moneyFormat()}}</td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <td colspan="2">계</td>
                            <td>{{article.total.duration.toDuration()}}</td>
                            <td class="number">
                                <span ng-class="{strike:article.discount.value != 0}"><i class="fa fa-krw"></i>{{article.total.price.moneyFormat()}}</span>
                                    <span ng-show="article.discount.value != 0"> <i class="fa fa-arrow-right"></i> <i
                                            class="fa fa-krw"></i>{{article.total.discountPrice.moneyFormat()}}</span>
                            </td>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="body images padder none-top-border"
                     ng-hide="!rootUser.logged && (replies == undefined || replies.length == 0)">
                    <span id="recommends" class="input-label">Recommends</span>

                    <replies user="rootUser" reply-id="stateParams._id" replies="replies"></replies>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel-body provider">
                <span class="small-subject">Content Provided By</span>

                <div user-block="article.provider"></div>
            </div>

            <div ng-show="isRootUser()" class="panel-body">
                <a ui-sref="edit({_id:stateParams._id})">수정하기</a>
            </div>
        </div>
    </div>
    <div class="nav-block"></div>
</div>
