<table class="table table-hover" ng-repeat="(key,services) in services">
    <thead>
    <tr>
        <td colspan="5">
            <span mod-input="key" mod-save="save" mod-default="서비스 유형"
                  mod-right="modService" placeholder="서비스 유형"></span>
            <span class="font-m vert-align" ng-show="modService" ng-click="remove(key)">서비스 삭제</span>

            <span ng-show="!modService">
                <span class="btn-s" ng-show="!hide[key]" ng-click="hide[key]=true">[접기]</span>
                <span class="btn-s" ng-show="hide[key]" ng-click="hide[key]=false">[펼치기]</span>
            </span>
        </td>
    </tr>
    </thead>
    <tbody ng-show="!hide[key] || modService">
    <tr ng-click="select.toggle(service)" mod-right="modService" service-array="services" service-row
        select="select" service="service"
        ng-repeat="service in services">


    </tr>
    <tr ng-show="modService">
        <td colspan="5" ng-click="services.push({})">새로운 서비스 <i class="fa fa-plus"></i></td>
    </tr>
    </tbody>
</table>
<div ng-show="modService">
    <table class="table table-hover">
        <thead>
        <tr>
            <div class="input-group">
                <input class="form-control" placeholder="새 서비스 타입" ng-model="newTypeName"><a
                    class="input-group-addon" ng-click="newType(newTypeName)">서비스 타입 추가</a>
            </div>
        </tr>
        </thead>
    </table>
</div>