<div class="container">
    <div class="btn btn-default" ng-click="newService()" ng-show='user.logged'>새 서비스 등록하기</div>

    <div class="panel">
        <div class="panel-body">
            <div class="input-group">
                <input class="form-control">

                <div class="input-group-addon" ng-click="get()">검색</div>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="krw= !krw"><i class="fa fa-krw"></i></button>
                <button type="button" class="btn btn-default" ng-click="street= !street"><i
                        class="fa fa-street-view"></i></button>
                <button type="button" class="btn btn-default" ng-click="star= !star"><i class="fa fa-star"></i></button>
            </div>
            <div class="input-group" ng-show="krw">
                <div class="input-group-addon"><i class="fa fa-krw"></i> 가격</div>
                <input class="form-control">
            </div>
            <div class="input-group" ng-show="street">
                <div class="input-group-addon"><i class="fa fa-street-view"></i> 위치</div>
                <input class="form-control">
            </div>
            <div class="input-group" ng-show="star">
                <div class="input-group-addon"><i class="fa fa-star"></i> 평점</div>
                <input class="form-control">
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="half" ng-repeat="article in articles" article-head="article"></div>
    </div>
    <div ng-show="!noMore" class="badge" ng-click="get()">더보기</div>
    <div ng-show="noMore" class="badge">더이상 게시물이 없습니다.</div>
</div>

