<div ng-show="modContent.type == 'markdown'" ng-bind-html="modContent.content.parseHtml()"></div>
<div ng-show="modContent.type == 'html'" ng-bind-html="modContent.content.newLine();"></div>
<div ng-show="modContent.type == 'text' && !mod" ng-bind-html="trust(modContent.content)"></div>
<div ng-show="modContent.type == 'text' && mod">
    <wysiwyg textarea-class="form-control"
             textarea-height="250px"
             textarea-required ng-model="modContent.content" enable-bootstrap-title="true"
             textarea-menu="menu"></wysiwyg>
    <div class="btn btn-primary full-width" ng-click="modSave();done();">저장</div>
</div>
<div ng-if="modRight">
    <small ng-show="!mod" ng-click="modify();">수정</small>
    <div ng-show="mod">
        <div class="input-group" ng-show="modContent.type != 'text'">
            <textarea class="form-control" ng-model="modContent.content"></textarea>

            <div class="input-group-addon" ng-click="modSave();done();">저장</div>
        </div>
        <div class="label label-default" ng-class="{'label-primary':modContent.type == 'text'}"
             ng-click="modContent.type = 'text'">Text
        </div>
        <div class="label label-default" ng-class="{'label-primary':modContent.type == 'html'}"
             ng-click="modContent.type = 'html'">Html
        </div>
        <div class="label label-default" ng-class="{'label-primary':modContent.type == 'markdown'}"
             ng-click="modContent.type = 'markdown'">Markdown
        </div>
        <a target="_blank" class="color-white" href="https://ko.wikipedia.org/wiki/%EB%A7%88%ED%81%AC%EB%8B%A4%EC%9A%B4"><i
                class="fa fa-question"></i></a>
    </div>
</div>