<div class="container">
    <div class="row">
        <div class="input-group">
            <input class="form-control" placeholder="이메일" ng-model="user.email" check="email"
                   regex="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"
                   message="이메일 형식이 맞지 않습니다.">
            <span ng-show="!exist">가입하지 않은 이메일입니다.</span>
        </div>
        <div class="input-group">
            <input class="form-control" regex=".{6,}" message="패스워드는 6글자이상입니다." check="regex" placeholder="패스워드"
                   type="password" ng-model="user.password">
        </div>
        <div class="btn btn-default" ng-click="login();">로그인</div>
        <div>아직 가입하지 않으셨나요? <span ui-sref="register({email:user.email})">여기</span>를 눌러 회원가입</div>
    </div>
</div>