<!DOCTYPE html>
<html ng-app="freetty">
<head lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app/lib/colorpicker.css">
    <link rel="stylesheet" href="/app/lib/slider.css">
    <link rel="stylesheet" href="/app/lib/animate.min.css">
    <link rel="stylesheet" href="/app/lib/anim.in.out.css">
    <link rel="stylesheet" href="/node_modules/angular-date-picker/angular-date-picker.css">
    <link rel="stylesheet" href="/dist/css.css">
    <title>Freetty!</title>
</head>
<body ng-controller="index">
<div class="nav-block" ng-show="state.block"></div>
<nav class="navbar navbar-default navbar-fixed-top" ng-class="state.nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="main">F R E E T T Y</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="search">Portfolio</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!rootUser.logged"><a ng-click="popup('login', $event)">로그인</a></li>
                <li ng-show="!rootUser.logged"><a ng-click="popup('register', $event)">회원가입</a></li>
                <li class="login-profile" ng-show="rootUser.logged">
                    <span user-info="rootUser._id"></span>
                    <span class="more">
                        <i class="fa fa-caret-down"></i></span>
                    <ul class="list-group">
                        <li class="list-group-item" ng-click="logout()">로그아웃</li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div ui-view id="main" class="anim-in-out anim-slide-below-fade" data-anim-speed="400"></div>
<div ui-view="popupTrigger"></div>
<ng-include src="'/app/pages/popup/popup.html'"></ng-include>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjs11FmMMAlR5LamjEKMHVnXNmcO-Lpbw"></script>
<script src="/app/lib/jquery.js"></script>
<script src="/app/lib/bootstrap.min.js"></script>
<script src="/app/lib/wow.min.js"></script>
<script src="/node_modules/autosize/dist/autosize.min.js"></script>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/angular-ui-router/build/angular-ui-router.min.js"></script>
<script src="/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/node_modules/ng-file-upload/dist/ng-file-upload-all.min.js"></script>
<script src="/node_modules/angular-date-picker/angular-date-picker.js"></script>
<script src="/node_modules/angular-scroll/angular-scroll.min.js"></script>
<script src="/app/lib/anim.in.out.js"></script>
<script src="/app/lib/slider.js"></script>
<script src="/app/lib/angular-wysiwyg.js"></script>
<script src="/app/lib/bootstrap-colorpicker-module.js"></script>
<script src="/node_modules/markdown/lib/markdown.js"></script>
<script src="/dist/js.js"></script>
</body>
</html>