.navbar-background {
    background: #88FFE1;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.navbar-white {
    background-color: white;
    box-shadow: 1px 1px 1px silver;
}

.navbar-white a {
    font-size: 95% !important;
}

.jumbo {
    background: #88FFE1;
}

.jumbo .container {
    text-align: center;
    padding: 50px;
}

.nav [user-info] .wrap {
    position: relative;
    float: left;
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.login-profile .more {
    line-height: 50px;
    margin-right: 10px;
}

.login-profile .name {
    line-height: 50px;
    margin: 0 10px;
}

.login-profile .name > i {
    font-size: 130%;
    margin: 10px;
    color: #ccc;
}

.login-profile ul {
    display: none;
    position: absolute;
    right: 5px;
    top: 45px;
    z-index: 20;
    min-width: 120px;
}

.search-bar {
    padding: 10px !important;;
}

.login-profile:hover ul {
    display: block;
}

.search-bar.navbar-fixed-top {
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
}
