<div ng-controller="profile.services">
    <div class="bottom-border bottom-space" ng-repeat="(k, services) in user.types">
        <h3><span mod-textarea="k" mod-save="save" mod-right="isRootUserAndMod()"></span>
            <span class="font-s"> - {{services.length}}개</span>
            <span class="btn-s" ng-show="!show[k]" ng-click="show[k]=true">[접기]</span>
            <span class="btn-s" ng-show="show[k]" ng-click="show[k]=false">[펼치기]</span>
        </h3>

        <div class="row top-border" ng-repeat="service in services" ng-show="!show[k]">
            <service-row service="service" save="save" mod-right="isRootUserAndMod()"></service-row>
        </div>
        <div class="row top-border" ng-show="isRootUserAndMod()">
            <div class="panel-body" ng-click="services.push({})">서비스 추가하기</div>
        </div>
    </div>
    <div class="row" ng-show="isRootUserAndMod()">
        <div class="panel-body">
            <div class="input-group">
                <input class="form-control" placeholder="서비스 유형" ng-model="newTypeName"><a
                    class="input-group-addon" ng-click="newType(newTypeName)">서비스 유형 추가</a>
            </div>
        </div>
    </div>
</div>