<div class="container">

    <div class="row bottom-border margin-bottom">
        <div class="panel-body">
            <h1>Step 4</h1>
            <small>업무스케줄을 등록해주세요.</small>
        </div>
    </div>

    <div class="row">
        <div class="panel-body">
            <h5>업무시간</h5>

            <div day='MON' mod="true" save="save" user="user"></div>
            <div day='TUE' mod="true" save="save" user="user"></div>
            <div day='WED' mod="true" save="save" user="user"></div>
            <div day='THUR' mod="true" save="save" user="user"></div>
            <div day='FRI' mod="true" save="save" user="user"></div>
            <div day='SAT' mod="true" save="save" user="user"></div>
            <div day='SUN' mod="true" save="save" user="user"></div>
        </div>
    </div>

    <div class="row bottom-border margin-bottom">
        <div class="panel-body">
            <a class="btn btn-primary" ng-click="save('artist-register-step3')">이전단계</a>
            <a class="btn btn-primary" ng-click="save()">작성완료</a>
        </div>
    </div>

</div>