<div class="container">

    <div class="row bottom-border margin-bottom">
        <div class="panel-body">
            <h1>Step 4</h1>
            <small>업무스케줄을 등록해주세요.</small>
        </div>
    </div>

    <div class="row">
        <div class="panel-body">
            <h5>Business Hours </h5>
            <table class="table">
                <tr day='MON' mod="true" user="user"></tr>
                <tr day='TUE' mod="true" user="user"></tr>
                <tr day='WED' mod="true" user="user"></tr>
                <tr day='THUR' mod="true" user="user"></tr>
                <tr day='FRI' mod="true" user="user"></tr>
                <tr day='SAT' mod="true" user="user"></tr>
                <tr day='SUN' mod="true" user="user"></tr>
            </table>
        </div>
    </div>

    <div class="row bottom-border margin-bottom">
        <div class="panel-body">
            <a class="btn btn-primary" ng-click="save('artist-register-step3')">이전단계</a>
            <a class="btn btn-primary" ng-click="save()">임시저장</a>
            <a class="btn btn-primary" ng-click="done()">작성완료 및 아티스트 등록</a>
        </div>
    </div>

</div>