<div class="container">
    <div class="nav-block"></div>

    <div class="row bottom-border margin-bottom">
        <div class="col-md-12">
            <div class="panel-body">
                <h1>Step 1</h1>
                <small>개인 정보를 입력합니다.</small>
            </div>
        </div>
    </div>

    <div class="row bottom-border bottom-space">
        <div class="col-md-6">
            <div class="panel-body">

                <label class="font-m">이름 <span class="red">*</span></label>

                <input regex="\w{2,}" message="이름은 두글자 이상 입력해 주세요." ng-model="user.name"
                       class="bottom-space-s form-control"
                       type="text" placeholder="이름">

                <label class="font-m">영업 연락처 <span class="red">*</span></label>

                <input ng-model="user.introduce.contact.phone" class="bottom-space-s form-control" type="text"
                       placeholder="영업 연락처">

                <label class="font-m">영업 이메일 <span class="red">*</span></label>

                <input ng-model="user.introduce.contact.email" class="bottom-space-s form-control" type="text"
                       placeholder="영업 이메일">

            </div>
        </div>

        <div class="col-md-6">
            <div class="panel-body">
                <label class="font-m">자기소개 <span class="red">*</span></label>

                <textarea ng-model="user.introduce.aboutme" class="form-control" type="text"
                          placeholder="자기소개"></textarea>
            </div>
        </div>
    </div>


    <div class="row bottom-border bottom-space">
        <div class="col-md-12">
            <div class="panel-body">
                <label class="font-m">FREETTY 주소 <span class="red">*</span></label> <i
                    class="fa fa-question-circle"></i>

                <div class="input-group full-width none-top-margin">
                    <a class="input-group-addon">http://freetty.com/</a>
                    <input ng-model="url" class="form-control" type="text" placeholder="url">
                </div>
                <span ng-show="urlOk" class="font-m green">사용가능한 URL입니다.</span>
            </div>
        </div>
    </div>

    <div class="row bottom-border bottom-space">
        <div class="col-md-6">
            <div class="panel-body">
                <label class="font-m">소속샵</label>

                <input ng-model="user.introduce.shop.name" class="form-control" type="text" placeholder="샵 이름">

                <div class="input-group full-width">
                    <span class="font-m">근무지</span>
                    <location user="user" placeholder="근무지" mod-save="save"></location>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel-body">


                <div class="form-group">
                    <label class="font-m">근무 형태</label> <i class="fa fa-question-circle"></i>
                    <select ng-model="user.introduce.shop.type" class="form-control">
                        <option value="free">프리랜서</option>
                        <option value="free">프리랜서</option>
                        <option value="free">프리랜서</option>
                        <option value="free">프리랜서</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-md-12">
            <div class="panel-body">
                <a class="btn btn-primary" ng-click="save()">임시저장</a>
                <a class="btn btn-primary" ng-click="save('artist-register-step2')">다음단계</a>
            </div>
        </div>
    </div>
</div>