<div class="container">
    <div class="row profile">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img ngf-accept="'image/*'" ng-model="files" ngf-select="true" ngf-drop="true"
                         ng-src="{{photo}}" ng-show="isRootUser()">
                    <img ng-src="{{photo}}" ng-show="!isRootUser()">
                </div>
            </div>

            <div class="alert alert-info">
                http://freetty.com/<span mod-textarea="user.url" mod-default="url을 설정해주세요." placeholder="url"
                                         mod-save="urlSave" mod-right="isRootUser()"></span>
            </div>

            <div class="panel panel-primary info">
                <div class="panel-heading"><i class="fa fa-user"></i> Profile</div>
                <div class="panel-body profile">
                    <div class="left-right">
                        <span class="left">
                            이름
                        </span>
                        <span class="right">
                            <h4 mod-textarea="user.name" mod-save="save" mod-right="isRootUser()"></h4>
                        </span>
                    </div>
                    <div class="left-right" ng-repeat="(k, v) in user.profile">
                        <span class="left">
                            {{k}}
                        </span>
                        <span class="right">
                            <h4 mod-textarea="user.profile[k]" mod-save="save" mod-right="isRootUser()"></h4>
                            <span ng-click="remove(user.profile, k)" ng-show="isRootUser()">삭제</span>
                        </span>
                    </div>
                    <div class="left-right" ng-show="isRootUser()">
                        <span class="left">
                            <input type="text" placeholder="프로필 항목" class="form-control" ng-model="newKey"
                                   ng-init="newKey=''">
                        </span>
                        <span class="right">
                            <h4 ng-click="add(user.profile, newKey);newKey='';">추가하기+</h4>
                        </span>
                    </div>

                </div>
            </div>
            <div class="panel panel-primary" ng-if="isRootUser() || user.location">
                <div class="panel-heading"><i class="fa fa-map-marker"></i> Location</div>
                <div class="panel-body">
                    <location user="user" mod-save="save" mod-right="isRootUser()"></location>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <h1 mod-textarea="user.introduce.head" mod-default="안녕하세요!" placeholder="제목" mod-save="save"
                mod-right="isRootUser()"></h1>

            <div mod-content="user.introduce" mod-save="save" mod-right="isRootUser()"></div>

        </div>
    </div>
</div>