<div class="nav-block"></div>


<div class="right-container">

    <div id="map-controls">

        <span class="margin-right-m" ng-click="here()"><i class="fa fa-map-marker"></i> 여기</span>

        <input type="checkbox" class="" ng-model="getItemsWhenChangeBounds">
        <span class="margin-right-m">여기서 찾기</span>
        <span ng-show="!getItemsWhenChangeBounds" class="label label-info"
              ng-click="getArticlesFromHere()">지금 위치에서 검색</span>
        <i class="fa fa-search"></i>
        <location-search placeholder="검색" location="location"></location-search>
    </div>

    <div id="search-map" ng-class="{'hide-when-sm':!detail}" class="fixed-when-sm"></div>
</div>

<div class="left-container">
    <div class="panel-body">
        <div class="row border-bottom" ng-class="{'hide-when-sm':!detail}" ng-show="query.keywords.length>0">
            <div class="col-sm-3">
                <div class="panel-body hide-when-sm">
                    스타일
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel-body">
                    <a ng-repeat="el in query.keywords" class="bottom-space-s margin-right-s">{{el}}
                        <i class="fa fa-times" ng-click="query.keywords.remove(el, true)"></i></a>
                    <auto-complete-ajax class="show-when-sm" keyword="keyword" placeholder="검색어" limit="5"
                                        ng-model="query.keywords"></auto-complete-ajax>
                </div>
            </div>
            <!--<div class="col-sm-4">-->
            <!--<div class="panel-body" ng-show="query.keywords.length>1">-->
            <!--<div class="radio">-->
            <!--<label>-->
            <!--<input type="radio" name="searchType" value="or" ng-model="query.searchType"-->
            <!--ng-init="query.searchType='or'">-->
            <!--하나라도 포함한 (OR)-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="radio">-->
            <!--<label>-->
            <!--<input type="radio" name="searchType" value="and" ng-model="query.searchType">-->
            <!--모두 포함한 (AND)-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <div class="row border-bottom" ng-class="{'hide-when-sm':!detail}">
            <div class="col-sm-3">
                <div class="panel-body hide-when-sm">
                    가격
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel-body">
                    <price-range min="query.price.min" mod-right="true"
                                 max="query.price.max" step="1000" ng-mouseup="save(!mod)"
                                 floor="0" ceiling="600000" placeholder="가격 무관"
                                 mod-default="All day"></price-range>
                </div>
            </div>
        </div>
        <div class="row border-bottom" ng-class="{'hide-when-sm':!detail}">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default" ng-class="{active:isSort('price')}"
                   ng-click="sortBy('price');">
                    가격 <i class="fa" ng-show="isSort('price')"
                          ng-class="{'fa-chevron-up' : !sort.asc, 'fa-chevron-down':sort.asc}"></i>
                </a>
                <a class="btn btn-default" ng-class="{active:isSort('likes')}"
                   ng-click="sortBy('likes');">
                    좋아요 <i class="fa" ng-show="isSort('likes')"
                           ng-class="{'fa-chevron-up' : !sort.asc, 'fa-chevron-down':sort.asc}"></i>
                </a>

                <a ng-show="!rootUser.lat" class="btn btn-default">
                    <small profile-popup="rootUser">지역를 입력해주세요.</small>
                </a>

                <a ng-show="rootUser.lat" class="btn btn-default" ng-class="{active:isSort('distance')}"
                   ng-click="sortBy('distance');">
                    거리 <i class="fa" ng-show="isSort('distance')"
                          ng-class="{'fa-chevron-up' : !sort.asc, 'fa-chevron-down':sort.asc}"></i>
                </a>
            </div>

        </div>

        <div class="show-when-sm">
            <span ng-click="detailSearch()" ng-show="!detail"><span class="btn btn-primary detail-show-btn">검색 <i
                    class="fa fa-search"></i></span></span>
            <span ng-click="detailHide()" ng-show="detail"><span class="btn btn-primary detail-hide-btn">닫기 <i
                    class="fa fa-times"></i></span></span>
        </div>
    </div>

    <div class="panel-body center">
        <article-head ng-repeat="article in articles | orderBy:sort.order()" article="article"></article-head>
        <div ng-show="!noMore" ng-click="more();" style="clear:both;">더보기</div>
    </div>

</div>
