<div class="nav-block"></div>


<div class="right-container">

    <div id="map-controls">

        <span class="margin-right-m" ng-click="here()"><i class="fa fa-map-marker"></i> 현재 위치</span>

        <input type="checkbox" class="" ng-model="getItemsWhenChangeBounds">
        <span class="margin-right-m"> 맵을 움직이며 찾기</span>
        <span ng-show="!getItemsWhenChangeBounds" class="label label-info"
              ng-click="getArticlesFromHere()">지금 위치에서 검색</span>


        <div class="top-margin-s">
            <div ng-show="location.formatted_address">{{location.formatted_address}}</div>
            <i class="fa fa-search"></i>
            <location-search input-class="search-input" placeholder="지역검색" location="location"></location-search>
        </div>
    </div>

    <div id="search-map"></div>
</div>

<div class="left-container">
    <div class="panel-body">
        <div class="row border-bottom">
            <div class="col-sm-3">
                <div class="panel-body">
                    검색어
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel-body">
                    <auto-complete-ajax data="tagResults" keyword="keyword" placeholder="검색어" limit="5"
                                        selected-class="" ng-model="query.keywords"></auto-complete-ajax>
                </div>
                <div class="panel-body" ng-show="query.keywords.length>1">
                    검색어들을
                    <div class="radio">
                        <label>
                            <input type="radio" name="searchType" value="or" ng-model="query.searchType"
                                   ng-init="query.searchType='or'">
                            하나라도 포함한 (OR)
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="searchType" value="and" ng-model="query.searchType">
                            모두 포함한 (AND)
                        </label>
                    </div>
                    서비스를 찾습니다.
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-sm-3">
                <div class="panel-body">
                    가격
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel-body">
                    <price-range min="query.price.min" mod-right="true"
                                 max="query.price.max" step="1000" ng-mouseup="save(!mod)"
                                 floor="0" ceiling="600000" placeholder="가격 무관"
                                 mod-default="All day"></price-range>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body center">
        <article-head ng-repeat="article in articles" article="article"></article-head>
        <div ng-show="!noMore" class="badge" ng-click="get()">더보기</div>
        <div ng-show="noMore" class="badge">마지막입니다.</div>
    </div>

</div>
