<div class="container">
    <div class="row">
        <div class="input-group">
            <input class="form-control" placeholder="이메일" ng-model="user.email" regex="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" message="이메일 형식이 맞지 않습니다.">
        </div>
        <div class="input-group">
            <input class="form-control" placeholder="패스워드" type="password" ng-model="user.password">
        </div>
        <div class="input-group">
            <input class="form-control" placeholder="이름" ng-model="user.name">
        </div>
        <div class="btn btn-default" ng-click="register();">회원가입</div>
    </div>
</div>