<div class="container">

    <div class="row bottom-border margin-bottom">
        <div class="panel-body">
            <h1>Step 3</h1>
            <small>자신만의 서비스를 추가합니다.</small>
        </div>
    </div>

    <div services='user.serviceTypes' mod-service="true"></div>

    <div class="row bottom-border margin-bottom">
        <div class="panel-body">
            <a class="btn btn-primary" ng-click="save('artist-register-step2')">이전단계</a>
            <a class="btn btn-primary" ng-click="save()">임시저장</a>
            <a class="btn btn-primary" ng-click="save('artist-register-step4')">다음단계</a>
        </div>
    </div>

</div>