<span ng-show="!mod">
    <span ng-show="location.formatted_address">{{location.formatted_address}}</span>
    <span ng-show="!location.formatted_address" class="placeholder">{{placeholder}}</span>
</span>
<input ng-show="mod" ng-model="keyword" placeholder="{{placeholder}}" ng-class="inputClass"
       ng-keydown="keyPress($event);">
<ul ng-style="{top:top,left:left}" ng-show="search" class="list-group search">
    <li class="list-group-item" ng-repeat="result in results"
        ng-mouseover="selectThis(result)" ng-click="selectLocation();$event.stopPropagation();"
        ng-class="{'selected':results.indexOf(result) == selected}">
        {{result.formatted_address}}
    </li>
</ul>